@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=BioRhyme|Space+Mono&display=swap');
@import "navbar.css";

:root {
    --main-bg-color: rgba(41, 47, 54, 1);
    --main-txt-color: rgb(195, 197, 193);
    --green1: rgba(148, 174, 137, 1);
    --green2: rgba(149, 180, 106, 1);
    --green3: rgba(36, 49, 25, 1);
    ;
    --main-padding: 15px;
}

html {
    background: var(--main-bg-color);
    color: var(--main-txt-color);
    font-family: 'Space Mono', monospace;
}

h1 h2 h3 h4 {
    font-family: 'BioRhyme', serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.9em;
}

p {
    font-size: 1em;
}

header,
main,
footer {
    background: var(--green3);
    padding: var(--main-padding);
    margin: auto;
    margin-top: 30px;
    width: 80%;
    border-radius: 4px;

}