footer {
    font-size: 0.8em;
}
footer i {
    font-size: 2em;
}
#socialmedia {
    margin-top: 5px;
    /* display: flex; */
    
}
#socialmedia p , i{
    margin-right: 5px;
    margin-left: 5px;
}